@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr>
    <h3>Please log in to view Employees and Departments.</h3>
    <hr>
    <p>Check the project code in <a href="https://github.com/Tbig94/EmployeeManagementAuth">Github Repo</a>.</p>
</div>
